################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/src/OfficeRoomie/OfficeRoomie/OfficeRoomie/Database/AppDbContext.cs
