@model RegisterViewModel

<h2>Cadastro</h2>
<form asp-action="Register" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label>Senha</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label>Confirme a Senha</label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <button type="submit">Registrar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
