@model ResetPasswordViewModel

<h2>Redefinir Senha</h2>
<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />
    <label>Nova Senha</label>
    <input asp-for="Password" type="password" />
    <label>Confirmar Senha</label>
    <input asp-for="ConfirmPassword" type="password" />
    <button type="submit">Redefinir Senha</button>
</form>
